In [1]:
# importamos las librerías que necesitamos API

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Uso de API's
# -----------------------------------------------------------------------
import requests

# Importar librerías para procesamiento de texto
# -----------------------------------------------------------------------
import re

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames=(tablas de excel)

In [2]:
# LEER UN DATAFRAME O ARCHIVO EN GENERAL 
df = pd.read_csv('Tableau_Assessment_Data.xlsx_Tableau_Data.csv')
df.head()

,Date,UserID,Brand,New_Registrations,Firsttime_depositors,Depositing_Player,Deposit_Amount,Deposits,Withdrawal_Amount,Withdrawals,Real_money_bets,Bonus_money_bets,Gamerounds,Real_money_win,Bonus_money_win,RowType
0,2/9/2020,116406,Casino C,1,0,0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,Registrations
1,27/6/2020,96659,Casino C,1,0,0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,Registrations
2,10/6/2020,91043,Casino C,1,0,0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,Registrations
3,18/11/2019,25290,Casino C,1,0,0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,Registrations
4,16/5/2020,79115,Casino C,1,0,0,0.0,0,0.0,0,0.0,0.0,0,0.0,0.0,Registrations

In [3]:
# EXPLORAR LOS DATAFRAME EN GENERAL 
def exploracion_df(df):
    
    print(' Filas y Columnas del DATAFRAME \n')
    print(f"El número de filas que tenemos es de {df.shape[0]}.\nEl número de columnas es de {df.shape[1]}\n")
    print('____________________________________________________________\n')
    
    print(' Nombre de todas las Columnas del DATAFRAME: \n')
    print(df.columns)
    print('____________________________________________________________\n')
    
    print('INFORMACIÓN GENERAL DEL DATAFRAME \n')
    print(df.info())
    print('____________________________________________________________\n')
    
    print('Ver los NULOS del DataFrame \n')
    print(f'Nulos de todo el data: --> {df.isnull().sum().mean() * 100} \n')
    for columna in df.columns:
        cantidad_valores_nulos = df[columna].isnull().mean() * 100
        print(f'La columna {columna}: {cantidad_valores_nulos}')
    print('____________________________________________________________\n')
    
    print('Valores ÚNICOS por columna:\n')
    for columna in df.columns:
        cantidad_valores_unicos = df[columna].unique()
        print(f'La columna {columna}: {len(cantidad_valores_unicos)}')
        print(f'La columna {columna}: {cantidad_valores_unicos}')
        
    print('____________________________________________________________\n')
    
    print('Valores DUPLICADOS por columna es de:\n')
    for columna in df.columns:
        cantidad_duplicados = df[columna].duplicated().sum()
        print(f'La columna {columna}: {cantidad_duplicados}')
    print('____________________________________________________________\n')
  
    print('--> RESUMEN ESTADÍSTICO \n')
    
    try:
        numeric_summary = df.describe().select_dtypes(include=['number']).T
        if not numeric_summary.empty:
            print('<<< Variables Numéricas >>> \n')
            print(f'{numeric_summary} \n')     
    except:
        print('No hay variables numéricas en el DataFrame.')
    
    try:
        categorical_summary = df.describe(include='object').T
        if not categorical_summary.empty:
            print('<<< Variables Categóricas >>> \n')
            print(f'{categorical_summary} \n')     
    except:
        print('No hay variables categóricas en el DataFrame.')

In [4]:
exploracion_df(df)

 Filas y Columnas del DATAFRAME

El número de filas que tenemos es de 343797.
El número de columnas es de 16

____________________________________________________________

 Nombre de todas las Columnas del DATAFRAME:

Index(['Date', 'UserID', 'Brand', 'New_Registrations', 'Firsttime_depositors',
       'Depositing_Player', 'Deposit_Amount', 'Deposits', 'Withdrawal_Amount',
       'Withdrawals', 'Real_money_bets', 'Bonus_money_bets', 'Gamerounds',
       'Real_money_win', 'Bonus_money_win', 'RowType'],
      dtype='object')
____________________________________________________________

INFORMACIÓN GENERAL DEL DATAFRAME

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343797 entries, 0 to 343796
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  343797 non-null  object
 1   UserID                343797 non-null  int64
 2   Brand                 343797 non-null  object
 3   New_Registrations     343797 non-null  int64
 4   Firsttime_depositors  343797 non-null  int64
 5   Depositing_Player     343797 non-null  int64
 6   Deposit_Amount        343797 non-null  float64
 7   Deposits              343797 non-null  int64
 8   Withdrawal_Amount     343797 non-null  float64
 9   Withdrawals           343797 non-null  int64
 10  Real_money_bets       339607 non-null  float64
 11  Bonus_money_bets      271788 non-null  float64
 12  Gamerounds            343797 non-null  int64
 13  Real_money_win        339608 non-null  float64
 14  Bonus_money_win       271266 non-null  float64
 15  RowType               343797 non-null  object
dtypes: float64(6), int64(7), object(3)
memory usage: 42.0+ MB
None
____________________________________________________________

Ver los NULOS del DataFrame

Nulos de todo el data: --> 955743.75

La columna Date: 0.0
La columna UserID: 0.0
La columna Brand: 0.0
La columna New_Registrations: 0.0
La columna Firsttime_depositors: 0.0
La columna Depositing_Player: 0.0
La columna Deposit_Amount: 0.0
La columna Deposits: 0.0
La columna Withdrawal_Amount: 0.0
La columna Withdrawals: 0.0
La columna Real_money_bets: 1.218742455576983
La columna Bonus_money_bets: 20.94520894597684
La columna Gamerounds: 0.0
La columna Real_money_win: 1.218451586255843
La columna Bonus_money_win: 21.097042731611968
La columna RowType: 0.0
____________________________________________________________

Valores ÚNICOS por columna:

La columna Date: 1330
La columna Date: ['2/9/2020' '27/6/2020' '10/6/2020' ... '18/4/2017' '19/4/2017'
 '25/3/2017']
La columna UserID: 4418
La columna UserID: [ 116406   96659   91043 ... 7822503 7814911 7819656]
La columna Brand: 3
La columna Brand: ['Casino C' 'Casino A' 'Casino B']
La columna New_Registrations: 2
La columna New_Registrations: [1 0]
La columna Firsttime_depositors: 2
La columna Firsttime_depositors: [0 1]
La columna Depositing_Player: 2
La columna Depositing_Player: [0 1]
La columna Deposit_Amount: 1437
La columna Deposit_Amount: [   0.   190.    50.  ... 3090.   141.2 4350. ]
La columna Deposits: 54
La columna Deposits: [ 0  9  1  5  4 12  2  3 14  8  6  7 17 13 10 11 35 18 15 39 24 20 25 16
 29 21 31 23 33 26 22 37 19 27 28 32 30 36 34 41 59 42 77 55 47 43 51 71
 40 50 53 46 44 38]
La columna Withdrawal_Amount: 927
La columna Withdrawal_Amount: [0.00000000e+00 4.00000000e+03 5.40800000e+01 3.00000000e+01
 1.20000000e+02 1.00000000e+02 1.20130000e+02 5.00000000e+02
 5.00000000e+01 1.50000000e+02 2.00000000e+01 3.85000000e+03
 2.70000000e+02 4.00000000e+01 2.30000000e+02 1.38300000e+02
 1.90000000e+02 1.00000000e+03 6.04000000e+02 1.20000000e+03
 9.70020000e+02 1.25000000e+03 1.70000000e+02 8.00000000e+02
 3.00000000e+02 2.30000000e+03 1.06150000e+03 3.50000000e+02
 6.00000000e+01 7.00000000e+01 1.00360000e+02 2.00000000e+02
 1.30000000e+02 2.00400000e+02 2.00800000e+01 6.00000000e+02
 2.00100000e+01 1.15000000e+02 3.20000000e+03 2.20000000e+01
 2.50000000e+02 4.50000000e+02 4.50000000e+01 2.00000000e+03
 1.10000000e+02 4.50000000e+03 1.50000000e+01 2.50000000e+01
 5.02000000e+02 9.22868917e+01 3.15000000e+02 1.78132460e+01
 4.20000000e+02 4.30000000e+02 6.70000000e+02 1.02000000e+02
 3.50000000e+03 3.30000000e+03 8.00000000e+01 3.80000000e+02
 7.00000000e+02 9.00000000e+01 4.00000000e+02 1.25000000e+02
 1.40000000e+03 1.35000000e+03 3.30000000e+01 8.70000000e+02
 3.20000000e+02 3.40000000e+02 3.40000000e+03 9.00000000e+02
 2.65000000e+02 1.15000000e+03 9.70000000e+02 2.10000000e+02
 3.02000000e+03 7.50000000e+02 3.25000000e+03 6.50000000e+01
 3.05000000e+02 1.60000000e+03 8.80000000e+02 3.67000000e+03
 9.50000000e+02 1.46000000e+03 1.50000000e+03 1.30000000e+03
 1.40000000e+02 1.75000000e+03 8.50000000e+02 2.20000000e+02
 5.00000000e+03 2.50000000e+04 1.00000000e+04 8.80000000e+01
 3.30000000e+02 1.10000000e+03 6.95000000e+02 4.90000000e+01
 1.80000000e+02 7.60000000e+02 5.90000000e+02 2.80000000e+02
 5.50000000e+02 3.90000000e+01 2.40000000e+02 1.07891254e+03
 2.50090000e+02 2.66300000e+03 5.99000000e+02 1.24000000e+02
 7.50000000e+01 6.60000000e+02 1.53000000e+02 7.40000000e+01
 7.20000000e+02 2.11900000e+03 6.80000000e+01 4.55000000e+02
 2.00400000e+01 1.56000000e+03 1.03000000e+02 1.17000000e+02
 1.04000000e+02 1.05000000e+02 9.70000000e+01 3.35000000e+03
 1.82600000e+02 8.50000000e+01 5.40000000e+02 6.20000000e+02
 3.45000000e+03 6.50000000e+02 2.40100000e+03 3.10000000e+03
 1.65000000e+02 4.70000000e+01 6.40000000e+02 1.77242112e+01
 6.30000000e+02 9.28000000e+02 4.44847750e+01 5.20000000e+01
 2.60000000e+02 2.75000000e+03 2.02000000e+02 3.00000000e+03
 3.16000000e+02 1.94000000e+02 2.45000000e+02 1.08000000e+02
 7.20000000e+01 1.15150000e+02 2.00110000e+02 2.22500000e+01
 4.01000000e+02 1.55000000e+02 5.80000000e+02 2.25000000e+03
 6.90000000e+03 9.50000000e+01 4.80000000e+02 3.20000000e+01
 3.08000000e+02 4.40000000e+03 1.34000000e+02 4.61399350e+02
 1.60000000e+02 7.92800000e+01 2.00150000e+02 1.00020000e+02
 3.40000000e+01 1.26000000e+03 4.10000000e+01 1.57000000e+02
 4.70000000e+02 3.10000000e+02 5.10000000e+02 2.78000000e+02
 3.08000000e+03 3.25000000e+02 2.20000000e+03 6.80000000e+02
 2.75000000e+02 2.40000000e+03 1.19000000e+02 4.02000000e+02
 5.70000000e+01 4.25000000e+02 1.18000000e+03 1.05176237e+02
 3.64400000e+03 1.75050000e+02 5.43000000e+02 2.25000000e+02
 8.40000000e+01 2.51000000e+02 1.95000000e+02 5.50000000e+01
 8.79619660e+01 7.10000000e+02 5.20000000e+02 3.60000000e+02
 2.05000000e+02 6.10000000e+02 1.55000000e+03 6.90000000e+02
 2.55000000e+02 6.40000000e+01 2.00000000e+04 9.80000000e+01
 1.37000000e+02 4.51000000e+02 1.59000000e+02 5.90000000e+01
 2.28000000e+02 4.75000000e+02 1.87159098e+01 3.01500000e+01
 7.03200000e+01 2.19788000e+03 1.90000000e+03 1.73000000e+02
 4.00000000e+04 1.00000000e+01 6.20230000e+02 5.93500000e+01
 1.53852000e+03 3.00460000e+02 8.86880000e+02 2.73960000e+02
 1.00450000e+02 3.02550000e+02 2.69500000e+01 2.40800000e+02
 1.00141000e+03 3.80000000e+03 2.80000000e+03 5.60000000e+02
 5.00800000e+01 4.02300000e+01 2.50000000e+03 6.93290000e+03
 3.15000000e+03 2.90000000e+02 1.45000000e+02 3.70000000e+02
 4.80000000e+01 1.23000000e+03 2.16000000e+02 1.75000000e+02
 1.05060000e+02 1.77556812e+01 9.86392718e+01 2.80000000e+01
 4.60000000e+02 1.35000000e+04 5.40000000e+01 1.13000000e+02
 1.64000000e+02 2.10000000e+01 5.71000000e+03 1.65870000e+02
 3.98000000e+02 1.82000000e+03 1.45000000e+03 4.01500000e+03
 3.99000000e+02 2.40500000e+01 3.38180592e+01 8.75000000e+03
 9.80010000e+02 9.68000000e+03 8.83173983e+01 1.01000000e+02
 1.85000000e+02 1.24000000e+03 7.07000000e+02 1.82032447e+01
 8.28402366e+01 1.05147861e+02 9.07687426e+01 7.80836156e+01
 3.63515892e+01 3.50000000e+01 1.03755024e+02 5.42127840e+01
 4.01200000e+01 8.10000000e+01 9.80000000e+02 3.69000000e+02
 8.20000000e+01 1.26500000e+03 4.40000000e+02 3.06500000e+01
 1.58000000e+02 1.16000000e+02 1.32000000e+02 2.24000000e+02
 7.90000000e+02 2.86000000e+02 1.48000000e+03 1.86000000e+03
 9.01800000e+01 9.80000000e+03 6.82110000e+03 2.82927988e+01
 1.28000000e+02 4.35900000e+03 1.10122000e+03 1.07000000e+03
 6.35060000e+02 2.30000000e+01 6.75000000e+02 8.30400000e+01
 7.00000000e+03 1.44870000e+02 7.30000000e+02 1.05000000e+03
 1.40500000e+03 1.00300000e+03 1.70000000e+03 8.90000000e+02
 2.04500000e+03 1.22960000e+02 9.03300000e+01 1.14000000e+03
 1.45133000e+03 5.07517789e+02 1.06248569e+02 9.74086325e+01
 6.96632121e+02 1.18784871e+01 1.02998366e+02 1.01864095e+02
 4.12400000e+01 1.80000000e+03 1.51000000e+02 2.23050000e+02
 2.40008000e+03 7.39900000e+03 1.00410000e+03 5.54000000e+01
 1.30018000e+03 3.55000000e+03 2.10000000e+03 6.00040000e+02
 1.03000000e+03 4.91000000e+02 1.35000000e+02 3.68000000e+03
 2.47000000e+02 2.03700000e+03 1.72000000e+02 2.40030000e+02
 1.24980000e+02 1.94300000e+03 6.60200000e+03 2.12000000e+03
 4.00900000e+01 4.27690000e+02 6.20000000e+01 2.70000000e+01
 1.85000000e+03 1.11000000e+03 2.99000000e+02 5.30035000e+03
 7.35000000e+02 6.10000000e+01 1.12500000e+03 8.23425112e+01
 2.04000000e+02 5.30000000e+02 8.75405000e+03 2.60000000e+01
 3.34400000e+03 1.31000000e+03 6.25000000e+02 2.70000000e+03
 3.60000000e+01 1.00040000e+02 9.49000000e+02 2.85000000e+02
 1.33000000e+03 8.99000000e+02 1.16000000e+03 8.30000000e+03
 1.12953911e+02 7.47060000e+02 1.04000000e+04 3.85000000e+02
 4.81000000e+02 3.90000000e+02 9.09914329e+01 3.65000000e+02
 5.25000000e+02 4.70000000e+03 8.90000000e+01 1.11000000e+02
 8.90000000e+03 2.73000000e+03 9.65000000e+02 5.47600000e+02
 2.17000000e+02 1.01360695e+02 3.75000000e+02 3.08700000e+01
 9.20000000e+03 1.69279200e+01 9.20000000e+01 7.80000000e+02
 4.29020000e+03 2.05000000e+03 2.34000000e+03 1.76553160e+02
 7.65000000e+02 1.82970000e+02 8.10445000e+03 1.08780000e+02
 3.24700000e+03 8.02900000e+01 3.83000000e+03 1.29960000e+02
 9.01500000e+01 2.90000000e+03 1.20370000e+02 1.15225682e+02
 1.12000000e+02 4.05000000e+02 2.70310000e+02 1.35980000e+02
 8.88000000e+02 6.30300000e+01 9.95778905e+01 3.86000000e+02
 2.18000000e+02 1.43783344e+02 9.74746840e+01 8.60000000e+02
 1.41500000e+03 1.47970000e+02 4.39240000e+02 4.29000000e+02
 2.81500000e+01 2.35000000e+02 8.03350000e+02 1.05105714e+02
 8.70000000e+01 9.94544878e+01 2.15000000e+02 2.20145000e+03
 8.00000000e+03 5.95780000e+03 2.90000000e+01 4.90000000e+02
 1.08000000e+03 1.18000000e+02 1.99000000e+02 5.29123860e+01
 1.07000000e+02 5.02690000e+02 1.36800000e+02 3.35000000e+01
 9.10000000e+02 9.46900000e+01 1.20100000e+03 1.15271000e+03
 7.30000000e+03 1.10000000e+04 2.00500000e+02 2.95000000e+02
 3.00170000e+02 9.75000000e+02 7.90050000e+02 6.00000000e+03
 2.50600000e+01 1.36660000e+02 1.69140000e+02 1.06000000e+02
 7.85000000e+02 1.69000000e+02 3.22000000e+01 2.03000000e+03
 1.22000000e+03 1.68000000e+03 1.95000000e+03 6.48000000e+02
 6.19000000e+02 4.00500000e+01 4.90200000e+02 6.36420000e+02
 3.50590000e+02 3.45000000e+02 6.40200000e+01 5.37350000e+02
 3.64950000e+02 8.45000000e+01 8.60000000e+01 9.61016705e+01
 6.30000000e+01 4.90386030e+01 1.52000000e+03 3.90900000e+03
 1.00090000e+02 2.52000000e+04 1.77705120e+01 9.10000000e+01
 5.80000000e+01 2.06000000e+03 2.40000000e+01 9.74285315e+01
 5.10000000e+03 1.01753223e+02 2.85387000e+03 7.80000000e+01
 2.08470000e+02 2.14000000e+03 8.25000000e+02 2.32000000e+02
 7.37000000e+01 9.25000000e+01 1.62990000e+02 1.14000000e+02
 9.32500000e+03 7.01400000e+01 9.75198128e+01 1.87000000e+02
 1.30000000e+01 9.99900000e+01 1.25658700e+04 6.00050000e+02
 1.50010000e+02 9.32086883e+01 1.82675000e+03 5.00100000e+01
 4.03700000e+01 1.11050000e+02 2.20700000e+03 5.67000000e+01
 1.92000000e+02 4.71000000e+02 1.56500000e+01 1.20080000e+02
 7.37500000e+01 1.11240000e+02 1.73450000e+02 2.15000000e+03
 1.00900000e+03 1.04000000e+03 3.33000000e+02 8.45000000e+02
 3.58000000e+02 2.11000000e+02 3.70000000e+01 7.73000000e+02
 5.00000000e+00 1.01300000e+01 3.72900000e+01 1.03600000e+01
 6.00190000e+02 4.10000000e+02 3.05000000e+03 6.71104920e+02
 6.24570618e+01 1.21670838e+02 5.48400960e+01 9.70944290e+01
 6.18154156e+01 2.07349179e+01 6.43034412e+01 1.20472249e+02
 4.17426655e+01 6.61783362e+01 8.30377372e+01 1.00261743e+02
 3.16027093e+01 6.50000000e+03 6.60000000e+01 5.75000000e+02
 1.47000000e+03 2.19000000e+03 7.60000000e+01 9.05255900e+01
 9.22088033e+01 3.03000000e+02 2.45000000e+03 1.41960000e+02
 1.62577866e+03 9.61369538e+01 2.07000000e+02 4.40000000e+01
 2.49300000e+02 5.60000000e+01 8.60000000e+03 2.45070000e+02
 5.21100000e+03 4.35000000e+02 6.59000000e+02 1.71000000e+02
 1.43000000e+03 1.29000000e+02 1.01200000e+03 4.59000000e+03
 2.04100000e+03 1.13000000e+04 1.68300000e+03 5.70000000e+02
 6.97600000e+01 1.97000000e+02 4.46785000e+03 1.30050000e+02
 1.30000000e+04 4.60000000e+01 3.90000000e+03 5.28000000e+02
 9.52882245e+01 9.72771443e+01 1.00080000e+02 1.59290000e+02
 1.41970000e+02 5.95000000e+02 5.30000000e+01 1.86000000e+00
 1.62000000e+02 7.10179000e+03 1.21000000e+03 7.75000000e+02
 7.90000000e+01 1.12000000e+04 1.50000000e+04 1.65000000e+03
 8.20000000e+03 8.30000000e+01 3.80000000e+01 8.10000000e-01
 1.89000000e+04 2.47000000e+03 1.67050000e+02 1.02000000e+03
 2.85000000e+03 7.63640000e+02 9.60000000e+01 4.20000000e+03
 1.42000000e+02 2.12000000e+02 1.50070000e+02 1.48000000e+02
 5.15000000e+03 7.10000000e+03 1.73960000e+02 1.98000000e+03
 7.32850000e+02 1.74550000e+02 1.07700000e+03 6.56112000e+03
 2.01400000e+01 1.30092000e+03 1.38700000e+03 4.62620000e+02
 5.71780000e+02 2.00690000e+02 2.30550000e+02 7.00200000e+02
 5.00500000e+01 1.30070000e+02 3.39000000e+01 1.54000000e+02
 6.90000000e+01 1.35500000e+03 1.27130000e+02 2.76014340e+02
 5.00550000e+02 1.79300000e+03 5.15000000e+02 9.00000000e-02
 1.91000000e+00 3.47000000e+00 5.19000000e+01 4.39000000e+03
 2.90800000e+01 1.77664080e+01 2.73000000e+02 1.17750000e+02
 1.49000000e+02 5.94686000e+03 6.80000000e+03 7.70000000e+02
 1.00385000e+03 1.22000000e+02 1.00310000e+02 5.10000000e+01
 8.68080000e+02 6.21900000e+02 1.25400000e+01 2.13740000e+02
 3.98100000e+01 1.15000000e+01 3.21150000e+02 5.65300000e+01
 3.01900000e+01 9.05000000e+02 5.87500000e+01 1.30100000e+02
 6.09300000e+01 6.01500000e+01 5.00520000e+02 1.42500000e+03
 8.89947976e+01 1.78321460e+01 1.37000000e+03 1.42035000e+03
 1.20150000e+02 2.96400000e+01 1.90010000e+02 5.00510000e+02
 2.58380000e+02 4.10000000e+03 2.20100000e+02 4.20000000e+01
 2.06100000e+03 6.59500000e+03 8.84030000e+03 3.00015000e+03
 2.51207000e+03 9.00000000e+03 2.00500000e+01 5.35650000e+03
 4.05005000e+03 9.90000000e+01 9.40000000e+02 4.83000000e+02
 1.78278540e+01 1.00200000e+03 2.01000000e+02 1.19950000e+02
 1.70000000e+04 1.70110000e+02 2.26000000e+02 6.15500000e+03
 3.10708000e+03 2.23000000e+02 1.17000000e+03 3.15040000e+02
 1.37313000e+03 2.90075000e+03 7.50000000e+03 1.50500000e+01
 1.39000000e+02 7.08000000e+03 4.85000000e+02 5.68510000e+02
 1.77746180e+01 6.00200000e+01 4.30000000e+01 1.04500000e+03
 2.82430000e+02 1.08783100e+04 5.35000000e+03 4.00160000e+02
 1.57950000e+02 2.57000000e+02 8.40000000e+02 6.10400000e+01
 1.99990000e+02 8.86550000e+02 8.14600000e+03 1.13000000e+03
 4.50500000e+01 1.18600000e+03 1.09702538e+02 6.85000000e+03
 4.50495000e+03 1.36000000e+02 1.91700000e+03 3.55000000e+02
 1.50020000e+02 2.75190000e+03 3.85000000e+00 3.43000000e+03
 7.55350000e+03 9.50000000e+03 7.91300000e+01 1.00050000e+02
 6.02000000e+02 1.58000000e+03 1.26030000e+02 4.98780000e+02
 9.90000000e+02 8.10000000e+02 2.09000000e+01 1.55056000e+03
 7.32100000e+01 8.76250000e+02 5.45000000e+02 1.01000000e+03
 2.50270000e+02 7.20890000e+02 5.59500000e+01 1.84000000e+02
 1.18000000e+01 5.33000000e+02 6.45050000e+02 3.13000000e+02
 2.04010000e+02 4.99300000e+01 3.00500000e+01 1.61950000e+02
 6.00300000e+01 1.10000000e+01 8.46000000e+02 5.16669000e+03
 1.01444544e+02 7.20000000e+03 8.30000000e+02 9.16495000e+03
 1.66500000e+03 1.23000000e+02 7.05000000e+02 3.75000000e+03
 2.95000000e+03 5.85000000e+02 8.59000000e+02 9.30000000e+03
 9.78700000e+03 4.56000000e+02 1.29000000e+03 1.04600000e+03
 3.57000000e+02 1.09000000e+03 1.73000000e+03 2.00040000e+02
 1.57130000e+02 2.00900000e+01 1.47800000e+03 1.08075000e+03
 8.04000000e+02 9.30000000e+02 3.60000000e+03 9.89458730e+01
 1.77500000e+03 6.20446000e+03 3.35000000e+02 1.41000000e+02
 3.59000000e+02 9.35000000e+02 1.99000000e+03 2.58800000e+01
 1.63000000e+03 6.70000000e+01 1.05240112e+02 2.08300000e+03
 9.34150000e+02 1.42837000e+03 7.19400000e+02 1.02610000e+02
 1.91510000e+02 8.70800000e+02 1.22985000e+03 2.19621000e+03
 6.69200000e+01 1.70000000e+01 1.34350000e+02 9.07350000e+02
 1.54840000e+02 7.01800000e+01 6.38900000e+01 2.91900000e+01
 5.00050000e+02 1.22500000e+03 2.48000000e+03 7.70000000e+01
 6.30000000e+03 5.01600000e+03 3.04970000e+02 9.00324812e+01
 1.40300000e+03 2.04700000e+01 1.54980000e+02 9.45000000e+02
 2.07000000e+03 9.60000000e+02 7.00600000e+01 1.82200000e+03
 9.25000000e+02 1.94341100e+04 9.41300000e+01 4.80000000e+03
 3.34575000e+03 2.97228000e+03 3.50700000e+01 4.31000000e+03
 1.38000000e+02 1.72930000e+02 2.36000000e+03 1.96000000e+02
 3.18000000e+02 1.28500000e+03 6.05000000e+02 9.70000000e+03
 7.25000000e+02 9.85000000e+02 1.82000000e+02 1.32110000e+03
 3.01070000e+02 7.30020000e+02 5.00880000e+02 2.60000000e+03
 7.96000000e+02 8.82000000e+02 1.36990000e+02 1.44000000e+02
 1.88000000e+03 2.35000000e+03 9.15000000e+02 4.00300000e+01
 3.00020000e+02 2.09000000e+03 8.40000000e-01 3.03200000e+03
 3.00700000e+01 1.41400000e+03 5.99300000e+02 2.19000000e+02
 9.54150000e+02 1.90080000e+02 1.88600000e+03]
La columna Withdrawals: 27
La columna Withdrawals: [ 0  1  4  5  2  3  8  7  6 10 11 19  9 17 13 18 14 22 23 24 28 12 16 32
 15 49 20]
La columna Real_money_bets: 38700
La columna Real_money_bets: [   0.     80.2   720.55 ...  767.35  129.06 8517.5 ]
La columna Bonus_money_bets: 8482
La columna Bonus_money_bets: [  0.      nan 166.12 ... 215.66  77.61 460.15]
La columna Gamerounds: 6816
La columna Gamerounds: [    0   736  1421 ...  3933  5724 26578]
La columna Real_money_win: 45570
La columna Real_money_win: [    0.      50.19   686.87 ... 39679.29   809.34  4160.25]
La columna Bonus_money_win: 9128
La columna Bonus_money_win: [  0.      nan  66.12 ...  41.04  27.61 359.8 ]
La columna RowType: 28
La columna RowType: ['Registrations' 'FirstDeposit' 'Deposit_Withdrawal' 'Bets_Wins'
 'FreeRounds' 'Jackpots' 'Freespin Wins' 'Wins' 'Deposit' 'Bets'
 'Freespin' 'JackpotContribution' 'Withdraw' 'BonusCashout'
 'IssuedBonuses' 'ExpiredBonuses' 'JpContribution' 'ForfeitedBonuses'
 'JackpotPayout' 'Kambi' 'V2U' 'U2V' 'ManualCorrections' 'GoodWill'
 'OtherCosts' 'FraudFunds' 'WalletCorrections' 'Adjustments']
____________________________________________________________

Valores DUPLICADOS por columna es de:

La columna Date: 342467
La columna UserID: 339379
La columna Brand: 343794
La columna New_Registrations: 343795
La columna Firsttime_depositors: 343795
La columna Depositing_Player: 343795
La columna Deposit_Amount: 342360
La columna Deposits: 343743
La columna Withdrawal_Amount: 342870
La columna Withdrawals: 343770
La columna Real_money_bets: 305097
La columna Bonus_money_bets: 335315
La columna Gamerounds: 336981
La columna Real_money_win: 298227
La columna Bonus_money_win: 334669
La columna RowType: 343769
____________________________________________________________

--> RESUMEN ESTADÍSTICO

<<< Variables Numéricas >>>

                         count          mean           std     min        25%  \
UserID                343797.0  6.026828e+06  2.027465e+06  1406.0  5553728.0
New_Registrations     343797.0  1.285061e-02  1.126299e-01     0.0        0.0
Firsttime_depositors  343797.0  1.285061e-02  1.126299e-01     0.0        0.0
Depositing_Player     343797.0  2.150804e-01  4.108787e-01     0.0        0.0
Deposit_Amount        343797.0  2.292378e+01  1.677343e+02     0.0        0.0
Deposits              343797.0  5.158538e-01  1.622073e+00     0.0        0.0
Withdrawal_Amount     343797.0  1.412181e+01  2.565940e+02     0.0        0.0

In [5]:
df['UserID'].duplicated().sum()

339379

In [6]:
# Identificar filas duplicadas exactas (todas las columnas iguales)
exact_duplicates = df[df.duplicated(keep=False)]

# Filtrar los duplicados que también tienen el mismo 'UserID'
exact_duplicates_sorted = exact_duplicates.sort_values(by=['UserID'])

# Mostrar el DataFrame resultante
exact_duplicates_sorted.head(20)

,Date,UserID,Brand,New_Registrations,Firsttime_depositors,Depositing_Player,Deposit_Amount,Deposits,Withdrawal_Amount,Withdrawals,Real_money_bets,Bonus_money_bets,Gamerounds,Real_money_win,Bonus_money_win,RowType
64056,3/8/2018,4556964,Casino A,0,0,1,20.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
228604,3/8/2018,4556964,Casino A,0,0,1,20.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
122782,18/9/2018,4560694,Casino A,0,0,1,10.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
228542,18/9/2018,4560694,Casino A,0,0,1,10.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
222567,1/8/2018,4567688,Casino A,0,0,1,35.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
222568,4/8/2018,4567688,Casino A,0,0,1,13.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
222569,21/6/2018,4567688,Casino A,0,0,1,11.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
222570,3/8/2018,4567688,Casino A,0,0,1,16.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
338934,1/8/2018,4567688,Casino A,0,0,1,35.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
338931,3/8/2018,4567688,Casino A,0,0,1,16.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
338930,21/6/2018,4567688,Casino A,0,0,1,11.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
338929,4/8/2018,4567688,Casino A,0,0,1,13.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
83543,20/8/2018,4575483,Casino A,0,0,1,30.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
192324,15/8/2018,4575483,Casino A,0,0,1,35.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
192325,1/9/2018,4575483,Casino A,0,0,1,11.0,1,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
192327,6/9/2018,4575483,Casino A,0,0,1,100.0,5,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
83544,28/9/2018,4575483,Casino A,0,0,1,220.0,4,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
192328,28/9/2018,4575483,Casino A,0,0,1,220.0,4,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
192329,5/9/2018,4575483,Casino A,0,0,1,40.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit
83536,5/9/2018,4575483,Casino A,0,0,1,40.0,2,0.0,0,0.0,0.0,0,0.0,0.0,Deposit

In [7]:
len(exact_duplicates_sorted['UserID'].unique())

399

In [8]:
len(exact_duplicates_sorted['UserID'])

6698

------

### `A/B test`

In [16]:
df_AB = pd.read_csv('Statistics_Assessment_Data.xlsx_Statistics_Assessment_Data.csv')
df_AB

      UserID     Brand Test Group  Converted
0    7573340  Casino A          B          1
1    5465339  Casino A          A          0
2    7516520  Casino A          B          0
3    7616973  Casino A          A          1
4    7341455  Casino A          B          0
..       ...       ...        ...        ...
346  7597629  Casino A          A          1
347  6059769  Casino A          B          1
348  7369482  Casino A          B          0
349  7467535  Casino A          B          1
350  7186169  Casino A          A          0

[351 rows x 4 columns]

In [21]:

# Calculate the conversion rate per test group (A and B)
conversion_summary = df_AB.groupby('Test Group')['Converted'].agg(['sum', 'count'])
conversion_summary['conversion_rate'] = conversion_summary['sum'] / conversion_summary['count']

# Split the data into converters and non-converters
converted = df_AB[df_AB['Converted'] == 1]
non_converted = df_AB[df_AB['Converted'] == 0]

# Calcular la tasa de conversión
conversion_summary['conversion_rate'] = conversion_summary['sum'] / conversion_summary['count']

# Calcular los no convertidos
conversion_summary['no_converted'] = conversion_summary['count'] - conversion_summary['sum']

# Calcular los porcentajes
conversion_summary['converted_percentage'] = (conversion_summary['sum'] / conversion_summary['count']) * 100
conversion_summary['no_converted_percentage'] = (conversion_summary['no_converted'] / conversion_summary['count']) * 100


# Display the results

print("Conversion Summary by Test Group:")
print(conversion_summary)

print("\nConverted Users:")
print(converted)

print("\nNon-Converted Users:")
print(non_converted)

Conversion Summary by Test Group:
            sum  count  conversion_rate  no_converted  converted_percentage  \
Test Group
A            82    174         0.471264            92             47.126437
B            63    177         0.355932           114             35.593220

            no_converted_percentage
Test Group
A                         52.873563
B                         64.406780

Converted Users:
      UserID     Brand Test Group  Converted
0    7573340  Casino A          B          1
3    7616973  Casino A          A          1
6    7339822  Casino A          B          1
9    6478997  Casino A          B          1
13   6614724  Casino A          B          1
..       ...       ...        ...        ...
343  7639431  Casino A          B          1
344  7628662  Casino A          A          1
346  7597629  Casino A          A          1
347  6059769  Casino A          B          1
349  7467535  Casino A          B          1

[145 rows x 4 columns]

Non-Converted Users:
      UserID     Brand Test Group  Converted
1    5465339  Casino A          A          0
2    7516520  Casino A          B          0
4    7341455  Casino A          B          0
5    6804145  Casino A          B          0
7    5750273  Casino A          A          0
..       ...       ...        ...        ...
337  4566529  Casino A          A          0
340  4567097  Casino A          A          0
345  7627986  Casino A          A          0
348  7369482  Casino A          B          0
350  7186169  Casino A          A          0

[206 rows x 4 columns]